 <div class="container">
        <header id="topoFixo">
            <div id="logoMenu" >
                <div id="logo">Jrss Reader</div>
            </div>
             <div id="searchBar">
                <select name="select" id="selectSearch">
                        <option value="tags">Tags</option>
                        <option value="nome">Nome</option>
                    </select>
                <form action="/search/tags" method="GET" autocomplete="off" id="searchForm" >
                    <input type="text" name="q" id="" placeholder="Procure seus feeds por tags">
                    <input type="submit" value="">
                </form>
            </div>
            <div id="privateInfo">
                <ul class="dropmenu">    
                    <li>
                        <a href="../home" id="nome" class="truncate">Olá, {{nome}}</a>
                        <ul>
                            <li> <a href="../opcoes">Configurações</a> </li>
                            <li>   <a onclick="signOut();" href="#">Sair</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <div id="content">
            {{#if rssList}}
                {{#each rssList}}
                    <div class="rssOp contentRequest" data-id="{{this._id}}">
                        <h1 class="truncate"> Titulo: {{this.nome}}</h1>
                        <h2 class="linkRss truncate"> Link do feed: {{this.url}}</h2>
                        <span class="tags truncate"> <strong>Tags: </strong>{{this.tags}}</span>
                        <button class="deleteFeed"> Excluir Feed</button>
                    </div>
                {{/each}}
            {{else}}
                <div class="rssOpNull" data-id="{{this._id}}">
                        <h1 class="truncate" style="text-align: center;"> Não foi possivel achar nenhum feed com {{this.type}} <span style="text-decoration: underline;">{{this.procura}}</span></h1>
                </div>
            {{/if}}    
        
        </div>
    </div>
    <script src="../JS/scriptSearchResult.js"></script>
    </script>